<mat-card 
  [style.height]="'95%'"
  [style.padding-top]="'5rem'"
>
    <mat-card-header
      [style.justify-content]="'center'"
      [style.margin-bottom]="'1rem'"
    >
      <h2 mat-dialog-title>
        WARNING: This action cannot be reversed!
      </h2>
    </mat-card-header>
  <div mat-dialog-actions
    [style.text-align]="'center'"
    [style.display]="'inline'"
  >
  <div>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      [style.background-color]="'blue'"
      [style.color]="'white'"
      [style.margin-bottom]="'1rem'"
    >
    Close
    </button>
  </div>
  <div>
    <button
      mat-raised-button
      [style.background-color]="'red'"
      [style.color]="'white'"
      (click)="deleteAccountHolder()"    
    >
    Delete Account
    </button>
  </div>
  </div>
  </mat-card>
