
<mat-card style="box-shadow: none; padding: 0">
  <mat-card-header [style.justify-content]="'center'">
    <mat-card-title 
      [style.color]="'blue'"
      [style.text-align]="'center'">Welcome Back!</mat-card-title>
    <mat-card-subtitle [style.color]="'blue'">Login into your account below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="font-size: 1rem">
    <form style="display: flex; flex-direction: column">
      <mat-form-field style="margin: 1rem 0rem">
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        >
      </mat-form-field>
      <mat-form-field style="margin: 1rem 0rem">
        <input
          matInput
          [(ngModel)]="userData.Password"
          placeholder="password"
          type="Password"
          name="Password"
          required
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions style="display: flex; justify-content: center">
    <button
      mat-raised-button
      (click)="loginUser()"
      style="color: white; background-color: blue"
    >
      Login
    </button>
  </mat-card-actions>
</mat-card>