<!-- This a call to action for prospective members to sign up along with a privacy disclaimer. A form is displayed that contains fields
for user to enter their desired username, password, birthday, and email information. The ngModel Directive is used to double bind the 
entered valuable with the respective variable. -->
<mat-card>
  <mat-card-header
    [style.text-align]="'center'"
    [style.color]="'blue'"
  >
    <mat-card-title [style.font-size]="'1.5rem'">Sign Up!</mat-card-title>
    <mat-card-subtitle 
      [style.color]="'blue'"
      [style.margin-top]="'1rem'"
      >We will never share your username, password, email or birthdate with a third-party.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content
    style="font-size: 1rem;"
  >
    <form
      style="display: flex; flex-direction: column"
    >
      <mat-form-field
        style="margin: 0.5rem 1rem;"
      >
        <input
          matInput
          [(ngModel)]="userData.Username"
          placeholder="Username"
          type="text"
          name="Username"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Password"
          type="password"
          placeholder="Password"
          name="Password"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Email"
          type="email"
          placeholder="Email"
          name="Email"
          required
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [(ngModel)]="userData.Birthday"
          type="date"
          placeholder="Birthday"
          name="Birthday"
        >
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions
    style="display: flex; justify-content: center; width: 100%"
  >
    <button
      mat-raised-button
      (click)="registerUser()"
      [style.background-color]="'blue'"
      [style.color]="'white'"
    >
      Sign Up
    </button>
  </mat-card-actions>
</mat-card>