<mat-toolbar
  [style.box-shadow]="'0 0 10px'"
  [style.background-color]="'blue'"
  [style.padding]="'1rem'"
  [style.position]="'fixed'"
  [style.z-index]="'1'"
  [style.color]="'white'"
  [style.font-size]="'18px'"
>
  <mat-toolbar-row>
    <h1 
      [style.color]="'white'"
      [style.background-color]="'1.5rem'"
    >myfavfilmz</h1>
    <span [style.position]="'absolute'"></span>
    <div fxLayout="column">
      <button mat-button>Your Profile</button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span [style.position]="'absolute'"></span>
  </mat-toolbar-row>
</mat-toolbar>
