<mat-toolbar
  [style.box-shadow]="'0rem 0rem 0.5rem'"
  [style.background-color]="'blue'"
  [style.padding]="'1rem'"
  [style.position]="'fixed'"
  [style.z-index]="'1'"
  [style.color]="'white'"
>
  <mat-toolbar-row>
    <h1>myfavfilmz</h1>
    <div>
      <button mat-button (click)="viewProfile()">Your Profile</button>
    </div>
    <button
      mat-raised-button
      color="white"
      (click)="logoutUser()"
    >
    Log Out
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span [style.position]="'absolute'"></span>
  </mat-toolbar-row>
</mat-toolbar>
